
%axis-line{
    fill: none;
    stroke: black;
}

%axis-labels{
    font-size:10px;
}

%axis{
    line,path{@extend %axis-line;}
    text{@extend %axis-labels;}
    opacity: 0.3;
}

.date-axis,.price-axis,.volume-axis{
    @extend %axis;
}

.cross-hair{
    fill: none;
    stroke: steelblue;
}