
%axis-line{
    fill: none;
    stroke: black;
}

%axis-labels{
    font-size:10px;
}

.date-axis{
    line,path{@extend %axis-line;}
    text{@extend %axis-labels;}
    opacity: 0.3;
}

.price-axis{
    line,path{@extend %axis-line;}
    text{@extend %axis-labels;}
    opacity: 0.3;
}

.cross-hair{
    fill: none;
    stroke: steelblue;
}